<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<a th:href="@{/form}">Crear producto</a>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>nombre</th>
        <th>precio</th>
        <th>fecha</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto: ${productos}">
        <td th:text="${producto.getId()}"></td>
        <td th:text="${producto.getNombre()}"></td>
        <td th:text="${producto.getPrice()}"></td>
        <td th:text="${producto.getCreateAt()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>